In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Read the data into a Pandas DataFrame
ecommerce_df = pd.read_excel('../Resources/Sample_Furniture_Ecommerce.xlsx')
print(ecommerce_df.shape)
ecommerce_df.head()

(9994, 21)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2022-11-07,2022-11-10,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2022-11-07,2022-11-10,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2022-06-11,2022-06-15,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2021-10-09,2021-10-16,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2021-10-09,2021-10-16,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
# Get the df columns.
ecommerce_df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [4]:
# Drop unwanted columns
ecommerce_df_cleaned = ecommerce_df.drop(columns = ["Row ID", "Order ID", "Customer ID", 
                                                    "Customer Name", "Product ID", "Product Name"])

print(ecommerce_df.shape)             # Before dropping the six columns
print(ecommerce_df_cleaned.shape)     # After dropping the 6 columns.
ecommerce_df_cleaned.head()           ## NOTE: drop city, state, and postal code for ML

(9994, 21)
(9994, 15)

,Order Date,Ship Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,2022-11-07,2022-11-10,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,2022-11-07,2022-11-10,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,2022-06-11,2022-06-15,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,2021-10-09,2021-10-16,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,2021-10-09,2021-10-16,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [5]:
# Add a "Sales Per Unit" and "Original Price" columns
# Price Per Item
ecommerce_df_cleaned["Sales Per Unit"] = ecommerce_df_cleaned["Sales"] / ecommerce_df_cleaned["Quantity"]

# Original Price
ecommerce_df_cleaned["Original Unit Price"] = ecommerce_df_cleaned["Sales Per Unit"] / (1 - ecommerce_df_cleaned["Discount"])
print(ecommerce_df_cleaned.shape)
ecommerce_df_cleaned.head(5)

(9994, 17)

,Order Date,Ship Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Sales Per Unit,Original Unit Price
0,2022-11-07,2022-11-10,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136,130.9800,130.98
1,2022-11-07,2022-11-10,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820,243.9800,243.98
2,2022-06-11,2022-06-15,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714,7.3100,7.31
3,2021-10-09,2021-10-16,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310,191.5155,348.21
4,2021-10-09,2021-10-16,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164,11.1840,13.98

In [6]:
# Get the unique categories and subcategories in separate lists.
categories = ecommerce_df_cleaned["Category"].unique()
subcategories = ecommerce_df_cleaned["Sub-Category"].unique()

print(f"There're {len(categories)} categories: \n {categories}")
print("------------" * 6)
print(f"There're {len(subcategories)} subcategories: \n {subcategories}")

There're 3 categories:
 ['Furniture' 'Office Supplies' 'Technology']
------------------------------------------------------------------------
There're 17 subcategories:
 ['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']

In [7]:
# Get the unique "Ship Mode", "Segment", and "Region" in separate lists.
ship_mode = ecommerce_df_cleaned["Ship Mode"].unique()
segments = ecommerce_df_cleaned["Segment"].unique()
regions = ecommerce_df_cleaned["Region"].unique()


print(f"There're {len(ship_mode)} ship modes: \n {ship_mode}")
print("------------" * 6)
print(f"There're {len(segments)} segments: \n {segments}")
print("------------" * 6)
print(f"There're {len(regions)} segments: \n {regions}")

There're 4 ship modes:
 ['Second Class' 'Standard Class' 'First Class' 'Same Day']
------------------------------------------------------------------------
There're 3 segments:
 ['Consumer' 'Corporate' 'Home Office']
------------------------------------------------------------------------
There're 4 segments:
 ['South' 'West' 'Central' 'East']

In [8]:
print(len(ecommerce_df_cleaned["State"].unique()))
ecommerce_df_cleaned["State"].value_counts()

49

California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
Louisiana                 42
South Carolina            42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: State, dtype: int64

In [9]:
print(len(ecommerce_df_cleaned["Discount"].unique()))
discount_array = ecommerce_df_cleaned["Discount"].unique()
discount_array.sort()
discount_array

12

array([0.  , 0.1 , 0.15, 0.2 , 0.3 , 0.32, 0.4 , 0.45, 0.5 , 0.6 , 0.7 ,
       0.8 ])

In [10]:
# # Export the DataFrame as a CSV file. 
ecommerce_df_cleaned.to_csv("../Resources/Ecommerce_Data_Updated.csv", index=False)